extends layouts/main-layout.pug

block content
    if !profileUser
        span.w-100.d-flex.alert.alert-info.noResults.errorMessage(role='alert') You are not authorized.
    else  
        script.
            const profileUserId = '!{profileUser._id}';
            const selectedTab = '!{selectedTab}';

        - followersCount = profileUser.followers.length
        - followingCount = profileUser.following.length
            
        .profileHeaderContainer
            .coverPhotoSection
                .coverPhotoContainer
                    if profileUser.coverPhoto
                        img(src=profileUser.coverPhoto, alt="User's cover photo")

                    if profileUser._id == userLoggedIn._id
                        button.coverPhotoButton(data-bs-toggle="modal", data-bs-target="#coverPhotoUploadModal")
                            i(data-feather='camera')

                .userImageContainer
                    img(src=profileUser.profilePic, alt="User profile image")

                    if profileUser._id == userLoggedIn._id
                        button.profilePictureButton(data-bs-toggle="modal", data-bs-target="#imageUploadModal")
                            i(data-feather='camera')

            .profileButtonsContainer
                if profileUser._id != userLoggedIn._id
                    a.profileButton(href=`/messages/${profileUser._id}`)
                        i(data-feather='mail')

                    - const profileUserId = profileUser._id.toString();
                    - if(userLoggedIn.following && userLoggedIn.following.includes(profileUserId))
                        +createFollowButton(profileUser, true)
                    - else
                        +createFollowButton(profileUser, false)

                if userLoggedIn._id != null && profileUser._id == userLoggedIn._id
                    +editProfileButton(userLoggedIn)
            .userDetailsContainer.text-white
                span.displayName #{profileUser.firstName} #{profileUser.lastName}
                span.pb-2.greyText.username @#{profileUser.username}
                span.description #{profileUser.description}
                .postButtonContainer.red
                    button(class='')
                        i.fas.fa-map-marker-alt
                        span   #{profileUser.location}

                .followersContainer
                    a(href=`/profile/${profileUser.username}/following`)
                        span.value #{followingCount}
                        span.greyText Following
                    a(href=`/profile/${profileUser.username}/followers`)
                        span#followersValue.value #{followersCount}
                        span.greyText Followers
        .tabsContainer
            +createTab("Posts", `/profile/${profileUser.username}`, selectedTab != "replies")
            +createTab("Replies", `/profile/${profileUser.username}/replies`, selectedTab == "replies")

        .pinnedPostContainer
        .postsContainer

        +createPostModals(userLoggedIn)
        +createImageUploadModal()
        +createCoverPhotoUploadModal()
        +createEditProfileForm(userLoggedIn)
block scripts
    script(src="/js/profile.js")