mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt="User's profile picture")
        .textareaContainer
            textarea#postTextarea(placeholder="What's happening?")
            .buttonsContainer
                button#submitPostButton.tweet-btn(disabled="") Tweet

mixin createReplyModal(userLoggedIn)
    #replyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='replyModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#replyModalLabel.modal-title Reply
                    button.btn-close.btn-close--modal(  data-bs-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true'): i(data-feather='x')
                .modal-body
                    #originalPostContainer
                    .postFormContainer
                        .userImageContainer
                            img(src=userLoggedIn.profilePic, alt="User's profile picture")
                        .textareaContainer
                            textarea#replyTextarea(placeholder="Tweet your reply"  )
                .modal-footer
                    //- button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
                    button#submitReplyButton.tweet-btn(  disabled="") Reply

mixin createDeletePostModal()
    #deletePostModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deletePostModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#deletePostModalLabel.modal-title Delete post?
                    button.btn-close.btn-close--modal( data-bs-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true'): i(data-feather='x')
                .modal-body.deletePostModal-alert
                    p.text-light Are you sure?.
                .modal-footer
                    //- button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button#deletePostButton.tweet-btn(type='button') Delete

mixin createPostModals(userLoggedIn)
    +createReplyModal(userLoggedIn)
    +createDeletePostModal()
    +createPinnedPostModal()
    +createUnpinPostModal()

mixin createFollowButton(user, isFollowing)
    - text = isFollowing ? "Following" : "Follow"
    - buttonClass = isFollowing ? "followButton following" : "followButton"
    button(class=buttonClass, data-user=user._id) #{text}

mixin editProfileButton(user)
    - text = "Edit Profile"
    button(class='editProfile', data-user=user._id data-bs-toggle="modal", data-bs-target="#EditProfileModal") #{text}

mixin createTab(name, href, isSelected)
    - className = isSelected ? "tab active" : "tab"
    a(href=href, class=className)
        span #{name}

mixin createImageUploadModal()
    #imageUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='imageUploadModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#imageUploadModalLabel.modal-title Upload a new profile picture
                    button.btn-close.btn-close--modal( data-bs-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true'): i(data-feather='x')
                .modal-body
                    input#filePhoto(type="file", name="filePhoto")
                    .imagePreviewContainer
                        img#imagePreview
                .modal-footer
                    //- button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    button#imageUploadButton.tweet-btn(type='button') Save

mixin createImageUploadModal()
    #imageUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='imageUploadModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#imageUploadModalLabel.modal-title Upload a new profile picture
                    button.btn-close.btn-close--modal( data-bs-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true'): i(data-feather='x')
                .modal-body
                    input#filePhoto(type="file", name="filePhoto")
                    .imagePreviewContainer
                        img#imagePreview
                .modal-footer
                    //- button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    button#imageUploadButton.tweet-btn(type='button') Save

mixin createCoverPhotoUploadModal()
    #coverPhotoUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='coverPhotoModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#coverPhotoModalLabel.modal-title Upload a new cover photo
                    button.btn-close.btn-close--modal( data-bs-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true'): i(data-feather='x')
                .modal-body
                    input#coverPhoto(type="file", name="filePhoto")
                    .imagePreviewContainer
                        img#coverPreview
                .modal-footer
                    //- button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    button#coverPhotoButton.tweet-btn(type='button') Save
mixin createEditProfileForm(userLoggedIn)
    #EditProfileModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editProfile', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#editProfile.modal-title Edit Profile
                    button.btn-close.btn-close--modal( data-bs-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true'): i(data-feather='x')
                .modal-body    
                    .postFormContainer.editFormContainer
                    form                    
                        label.form-label(for='firstName') First Name
                        input#nameFirstEdit( type="text", name="firstName", placeholder="First Name", value=`${userLoggedIn.firstName}` required="")
                        label.form-label(for='lastName') Last Name
                        input#nameLastEdit(  type="text", name="lastName", placeholder="Last Name", value=`${userLoggedIn.lastName}` required="")
                        label.form-label(for='email') Email
                        input#emailEdit(  type="email", name="email", placeholder="Email Address", value=`${userLoggedIn.email}` required="")
                        label.form-label(for='username') Username
                        input#usernameEdit(  type="text", name="username", placeholder="Username", value=`${userLoggedIn.username}` required="")
                        label.form-label(for='location') Location
                        input#locationEdit(  type="text", name="location", placeholder="Location", value=`${userLoggedIn.location}` required="")
                        label.form-label(for='bio') Bio
                        .profileTextarea
                            textarea#bioEdit(  name="bio")= `${userLoggedIn.description}`
                        button#submitProfileButton.tweet-btn() Save

mixin createPinnedPostModal()
    #confirmPinModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='confirmPinModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#confirmPinModalLabel.modal-title Pin this post?
                    button.btn-close.btn-close--modal( data-bs-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true'): i(data-feather='x')
                .modal-body.createPinnedStatus
                    p.text-white This post will appear at the top of your profile. You can only pin one post.
                .modal-footer
                    //- button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    button#pinPostButton.tweet-btn(type='button') Pin

mixin createUnpinPostModal()
    #unpinModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='unpinModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#unpinModalLabel.modal-title Unpin the post?
                    button.btn-close.btn-close--modal( data-bs-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true'): i(data-feather='x')
                .modal-body.createunPinnedStatus
                    p.text-white This post will be unpinned.
                .modal-footer
                    //- button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    button#unpinPostButton.tweet-btn(type='button') unPin

mixin createChatImage(chatData, userLoggedIn)
    if(!chatData)
        return

    - let i = 0
    - const maxImagesToShow = 3
    - let remainingUsers = chatData.users.length - maxImagesToShow
    - remainingUsers-- // Remove 1 since we won't show our own image
    
    .chatImagesContainer
        if remainingUsers > 0
            .userCount
                span +#{remainingUsers}

        each user in chatData.users
            if chatData.users.length != 1 && user._id == userLoggedIn._id
                - continue
            else if i >= maxImagesToShow    
                - break
            
            img(src=user.profilePic, alt="User's profile picture", title=user.firstName)
            - i++

mixin createChatNameModal(chat)
    #chatNameModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='chatNameModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#chatNameModalLabel.modal-title Change the chat name
                    button.btn-close.btn-close--modal( data-bs-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true'): i(data-feather='x')
                .modal-body
                    input#chatNameTextbox(type="text", placeholder="Enter a name for this chat", value=chat.chatName)
                .modal-footer
                    //- button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    button#chatNameButton.tweet-btn(type='button') Save